.container {
    margin-top: 20px;
    width: 240px;
    border: 1px solid black;

}

.imgdiv {
    display: inline-block;
    width: 240px;
    margin: 0 auto;
    justify-content: center;
}
.img {
    width: 160px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 50%;
    background-color: rgb(50, 50, 50);
}
.name{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}
.ptaglctn {
    text-align: center;
    color: rgb(100, 100, 100);
}
.list {
    display: flex;
    margin: 0;
    padding-inline-start: 0;
}
.listItem{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 16px;
    border: 1px solid black;
    background-color: rgb(150, 150, 150);
    font-weight: 400;
}